<!-- definig error template -->
<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <% if (process.env.NODE_ENV !=="production" ) { %>
                    <p>
                        <code><%= err.stack  %></code>
                        <!-- code tag is used here to maintain err.stack format and to not break the layout of surrounding elements -->
                    </p>
                    <% } %>
            </div>
        </div>
    </div>