body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://res.cloudinary.com/dkl32ao2n/image/upload/v1719706334/YelpCamp/home_jlwsqo.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-link {
    margin-left: 4px;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    color: white;
    border-bottom-color: white;
}

.nav-link.active {
    border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
}